<div class="container">
  <p><%= @film.title %></p>
  <p>Rated <%= @film.rating %></p>
  <p>Length: <%= @film.length %> minutes</p>
  <p>Released: <%= @film.release_date %></p>
  <p><%= link_to 'Film Screenings', film_screenings_path(@film) %></p>

  <% if current_user.is_admin? %>
    <p>
      <%= link_to 'Update Film Information', edit_admin_film_path(@film) %>
      | <%= link_to 'Delete Film', admin_film_path(@film), method: :delete, data: { confirm: "Are you sure?"} %>
    </p>
  <% end %>
</div>