<div class="container">
  <div class="header">
    <h1><%= @film.title %></h1>
    <% if current_user && current_user.is_admin? %>
      <div class="admin-feature">
          <%= link_to 'Update Film Information', edit_admin_film_path(@film) %>
          | <%= link_to 'Delete Film', admin_film_path(@film), method: :delete, data: { confirm: "Are you sure?"} %>
      </div>
    <% end %>
  </div>
  <div class="film-container">
    <p>Rated <%= @film.rating %></p>
    <p>Length: <%= @film.length %> minutes</p>
    <p>Released: <%= @film.release_date %></p>
    <% if @film.screenings.empty? %>
     <p><%= link_to "Create Screenings", admin_film_screenings_path(@film), method: :post %></p>
    <% else %>
      <p><%= link_to 'Film Screenings', film_screenings_path(@film) %></p>
    <% end %>
  </div>
</div>