<%= form_for [:admin, @cinema] do |f| %>
  <% if @cinema.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@cinema.errors.count, "error") %> prevented this cinema from saving</h2>
      <ul>
        <% @cinema.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>